@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
} */

body {
  @apply bg-slate-200 text-gray-900;
}

/* Fade overlay */
.fade-overlay {
  animation: fadeOverlayOut 0.7s ease-out forwards;
}

@keyframes fadeOverlayOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

/* Video starts hidden, fades in over poster */
.fade-video {
  opacity: 0; /* important */
  animation: fadeVideoIn 1.2s ease-out forwards;
  animation-delay: 0.6s; /* wait until poster is visible */
}

@keyframes fadeVideoIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
